<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<!-- $Revision: 1.7 $, $Date: 2004/02/09 20:51:18 $ -->

   	<appSettings>
		<!--	The default username to authenticate with. When the application
				starts the username field will be prepopulated with this value. -->
		<add	key="defaultUsername"
				value=""
		/>
		
		<!--	The default password to authenticate with. When the application
				starts the password field will be prepopulated with this value. -->
		<add	key="defaultPassword"
				value=""
		/>
		
		<!--	The default server to connect to and read mail from. When
				the application starts the server URI field will be prepopulated 
				with this value. -->
		<add	key="defaultUri"
				value="http://mailsc.spamcop.net"
		/>
		
		<!--	The messageListProcessor property specifies which message list
				processor implementation the application should use. -->
		<add	key="messageListProcessor"
				value="LothianProductions.DeskScop.SpamCop.WebMessageListProcessor"
		/>
		
		<!--	Specifies a timeout in seconds for all HTTP actions. SpamCop
				can be very slow, and 60 seconds is recommended. -->
		<add	key="httpActionTimeout"
				value="120"
		/>
		
		<!--	Collection of patterns to match and parse dates.
				Delimited with commas. -->
		<add	key="datePatterns"
				value="ddd, dd MMM yyyy HH':'mm':'ss' 'zz'00'|ddd, dd MMM yy HH':'mm':'ss' 'zz'00'|ddd, dd MMM yy HH':'mm':'ss 'GMT'|ddd, dd MMM yyyy HH':'mm':'ss 'GMT'|ddd, dd MMM yyyy HH':'mm':'ss' 'zz'00 (EST)'|dd MMM yyyy HH':'mm':'ss' 'zz'00'|ddd,  d MMM yyyy HH':'mm':'ss' 'zz'00'|ddd, d MMM yyyy HH':'mm':'ss' 'zz'00'|ddd,  d MMM yyyy HH':'mm':'ss' 'zz'00 (EST)'|ddd,  d MMM yyyy HH':'mm':'ss' 'zz'00 (GMT)'|ddd,  d MMM yyyy HH':'mm':'ss' 'zz'00 (PST)'"
		/>
			
		<!--	Properties setting the width values in pixels for
				the various grid columns. -->
		<add	key="columnActionWidth"
				value="30"
		/>
		<add	key="columnFromWidth"
				value="150"
		/>
		<add	key="columnSubjectWidth"
				value="200"
		/>
		<add	key="columnSentWidth"
				value="130"
		/>
		<add	key="columnWhyHeldWidth"
				value="135"
		/>
	</appSettings>
</configuration>
